<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <f:link.action action="generateImagePrompt" class="btn btn-default">Generate image by text prompt</f:link.action>
    <f:link.action action="chooseForVariant" class="btn btn-danger">Variants</f:link.action>
</f:section>

<f:section name="Content">
    <h1>Generate variants from given image</h1>

    <f:flashMessages />

    <f:for each="{files}" as="file">
        <div>
            <f:media file="{file}" width="200"></f:media><br/>
            <f:link.action action="uploadForVariant" class="btn btn-default" arguments="{file: file.uid}">
                Generate variants
            </f:link.action>
        </div>
    </f:for>
</f:section>
</html>
