<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'Image', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Menu</h1>

    <f:flashMessages />
    <f:link.action action="generateImagePrompt" class="btn btn-default">Generate image by text prompt</f:link.action>
    <f:link.action action="chooseForVariant" class="btn btn-danger">Variants</f:link.action>
    <f:link.action action="openAi" controller="Settings" class="btn btn-default">Settings</f:link.action>
    <f:link.action action="saveFile" arguments="{imageUrl: 'https://www.dmk-ebusiness.de/fileadmin/_processed_/a/6/csm_WSW_Wuppertaler_Stadtwerke_GmbH_logo_ee21bc37d3.png', description: 'this is description'}" class="btn btn-danger">Save file</f:link.action>
</f:section>
</html>
