<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
{namespace dmk=DMK\MkContentAi\ViewHelpers}

<f:layout name="Default" />

<f:section name="Content">
    <h1>Filelist</h1>

    <f:flashMessages/>

    <div class="row">
        <f:for each="{files}" as="file">
            <f:if condition="{file.properties.extension} == 'png'">
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="card">
                        <be:link.editRecord uid="{file.uid}}" table="sys_file">
                            <f:media file="{file}" class="card-img-top" width="300"></f:media>
                        </be:link.editRecord>
                        <div class="card-body">
                            <h5 class="card-title">{file.properties.description}</h5>
                            <p class="card-text"></p>
                            <p>{file.properties.width}w x {file.properties.height}h</p>
                            <p>{file.name}</p>
                            <p>
                                <dmk:ifOperationAllowed client="{client}" action="variants">
                                    <f:then>
                                        <f:link.action action="variants" class="btn btn-default" arguments="{file: file.uid}">
                                            Generate variants
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        <button class="btn btn-default disabled" type="button">
                                            Generate variants
                                        </button>
                                    </f:else>
                                </dmk:ifOperationAllowed>
                            </p>
                            <p>
                                <dmk:ifOperationAllowed client="{client}" action="upscale">
                                    <f:then>
                                        <f:link.action action="upscale" class="btn btn-default" arguments="{file: file.uid}">
                                            Upscale
                                        </f:link.action>
                                    </f:then>
                                    <f:else>
                                        <button class="btn btn-default disabled" type="button">
                                            Upscale
                                        </button>
                                    </f:else>
                                </dmk:ifOperationAllowed>
                            </p>
                            <p>
                                <dmk:ifOperationAllowed client="{client}" action="extend">
                                    <f:then>
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle noSpinner" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Extend image
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <li>
                                                    <f:link.action action="extend" class="dropdown-item" arguments="{file: file.uid, direction: 'right'}">
                                                        Right
                                                    </f:link.action>
                                                </li>
                                                <li>
                                                    <f:link.action action="extend" class="dropdown-item" arguments="{file: file.uid, direction: 'left'}">
                                                        Left
                                                    </f:link.action>
                                                </li>
                                                <li>
                                                    <f:link.action action="extend" class="dropdown-item" arguments="{file: file.uid, direction: 'top'}">
                                                        Top
                                                    </f:link.action>
                                                </li>
                                                <li>
                                                    <f:link.action action="extend" class="dropdown-item" arguments="{file: file.uid, direction: 'bottom'}">
                                                        Bottom
                                                    </f:link.action>
                                                </li>
                                                <li>
                                                    <f:link.action action="extend" class="dropdown-item" arguments="{file: file.uid, direction: 'zoomOut'}">
                                                        ZoomOut
                                                    </f:link.action>
                                                </li>
                                            </ul>
                                        </div>
                                    </f:then>
                                    <f:else>
                                        <button class="btn btn-default disabled" type="button">
                                            Extend image
                                        </button>
                                    </f:else>
                                </dmk:ifOperationAllowed>
                            </p>
                        </div>
                    </div>
                </div>
            </f:if>
        </f:for>
    </div>
</f:section>
</html>
