<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <h1><f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:mlang_label_variants_generated"/></h1>

    <f:flashMessages />

    <h2><f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelOriginalFile"/></h2>
    <f:image image="{originalFile}" alt="foo" width="300"/>

    <h2><f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:mlang_label_variants_generated"/></h2>

    <f:render partial="ImagesListSave" arguments="{images: images, text: text}" />
</f:section>
</html>
