parameters:
    level: 8
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_tables.php
        - %currentWorkingDirectory%/ext_emconf.php
    bootstrapFiles:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
    excludePaths:
        - %currentWorkingDirectory%/.development
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createMask\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createCombined\(\) has parameter \$result with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createCombined\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::getImages\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::getImageDimensions\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::combinedImage\(\) has no return type specified.#'
        -
            message: '#Parameter \$event of method DMK\\MkContentAi\\Backend\\EventListener\\CustomFileControlsEventListener::handleEvent\(\) has invalid type TYPO3\\CMS\\Backend\\Form\\Event\\CustomFileControlsEvent\.#'
            path: Classes/Backend/EventListener/CustomFileControlsEventListener.php
        -
            message: '#Call to method addControl\(\) on an unknown class TYPO3\\CMS\\Backend\\Form\\Event\\CustomFileControlsEvent\.#'
            path: Classes/Backend/EventListener/CustomFileControlsEventListener.php
        - '#Parameter \$event of method DMK\\MkContentAi\\Backend\\EventListener\\ModifyFilelistButtonBarEventListener::handleEvent\(\) has invalid type TYPO3\\CMS\\Backend\\Template\\Components\\ModifyButtonBarEvent#'
        - '#Call to method setButtons\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\ModifyButtonBarEvent#'
        - '#Call to method getButtons\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\ModifyButtonBarEvent#'
        - '#Call to method getButtonBar\(\) on an unknown class TYPO3\\CMS\\Backend\\Template\\Components\\ModifyButtonBarEvent#'
