parameters:
    level: 8
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_tables.php
        - %currentWorkingDirectory%/ext_emconf.php
    bootstrapFiles:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
    excludePaths:
        - %currentWorkingDirectory%/.development
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createMask\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createCombined\(\) has parameter \$result with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::createCombined\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::getImages\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::getImageDimensions\(\) has parameter \$source with no type specified.#'
        - '#Method DMK\\MkContentAi\\Service\\ExtendService::combinedImage\(\) has no return type specified.#'
