<div class="row">
    <f:for each="{images}" as="image">
        <div class="col-sm-6 col-md-4 col-12">
            <div class="card">
                <f:if condition="{image.base64}">
                    <f:then>
                        <img src="data:image/png;base64,{image.base64}" width="300" />
                    </f:then>
                    <f:else>
                        <img src="{image.url}" width="300"/>
                    </f:else>
                </f:if>
                <div class="card-body">
                    <f:link.action action="saveFile" class="btn btn-default"
                                   arguments="{imageUrl: image.url, description: text}">
                        Save image
                    </f:link.action>
                </div>
            </div>
        </div>
    </f:for>
</div>
