<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">
{namespace mk=DMK\MkContentAi\ViewHelpers}

<f:if condition="{TYPO3MajorVersion}==10">
    <script src="{f:uri.resource(path: 'JavaScript/bootstrap.bundle.min.js')}"></script>
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'Css/bootstrap.min.css')}" />
</f:if>

<f:be.container>
    <div class="container">
        <f:render partial="Navigation" />
        <div class="row">
            <f:render section="Content" />
        </div>
    </div>
</f:be.container>

</html>
