<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Content">
    <h1>Settings</h1>

    <f:flashMessages/>

    <h3>Choose image generation API:</h3>
    <f:form action="settings" name="openAi" object="{openAi}">
        <div class="form-group">
            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 1" value="1"/>
            OpenAI (https://openai.com/)<br/>
            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 2" value="2"/>
            Stable Diffusion (https://stablediffusionapi.com/)<br/>
            <f:form.radio name="imageAiEngine" checked="{imageAiEngine} == 3" value="3"/>
            StabilityAI  (https://stability.ai/)<br/>
            <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
    </f:form>

    <h3>OpenAI settings:</h3>
    <f:form action="settings" name="openAi" object="{openAi}">
        Currently stored OpenAI API key: {openAiApiKey}<br/>
        <div class="form-group">
            <label>Set OpenAI API key value:</label>
            <f:form.textfield class="form-control" name="openAiApiKeyValue"/>
            <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
    </f:form>

    <h3>Stable Diffusion settings:</h3>
    <f:form action="settings" name="stableDiffusionValues" object="{stableDiffusionValues}">
        Currently stored Stable Diffusion API key: {stableDiffusionApiKey}<br/>
        <div class="form-group">
            <label>Set Stable Diffusion API key value:</label>
            <f:form.textfield class="form-control" name="stableDiffusionValues[api]"/>

            <br/>
            Currently used model (https://stablediffusionapi.com/models):
            <f:if condition="{stableDiffusionModel}">
                <f:then>
                    {stableDiffusionModel} <i class="bi bi-trash"></i>
                </f:then>
                <f:else>
                    none selected
                </f:else>
            </f:if>
            <br/>

            <label>Set custom model to use:</label></br>
            <f:form.select name="stableDiffusionValues[model]" options="{stabeDiffusionModels}" optionValueField="model_id"
                           optionLabelField="model_id"/></br>

            <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
    </f:form>

    <h3>StabilityAI settings:</h3>
    <f:form action="settings" name="stabiltiyAi" object="{stabiltiyAi}">
        Currently stored StabilityAI API key: {stabilityAiApiValue}<br/>
        <div class="form-group">
            <label>Set StabilityAI API key value:</label>
            <f:form.textfield class="form-control" name="stabilityAiApiValue"/>
            <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
    </f:form>

    <h3>AltText AI settings:</h3>
    <f:form action="settings" name="altTextAi" object="{altTextAi}">
        Currently stored AltText AI API key (alttext.ai): {altTextAiApiValue}<br/>
        <div class="form-group">
            <label>Set AltText AI API key value:</label>
            <f:form.textfield class="form-control" name="altTextAiApiValue"/>
            <label>Set AltText AI language value:</label>
            <f:form.select name="altTextAiLanguage" options="{altTextAiLanguage}" value="{selectedAltTextAiLanguage}" />
            </br>
            <f:form.submit class="btn btn-default" value="Submit"/>
        </div>
    </f:form>

</f:section>
</html>
