<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default"/>
<f:section name="InsufficientPermissions">
    <f:render partial="Navigation"/>
    <f:flashMessages/>
</f:section>
<f:section name="Content">
    <h1>
        <f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSettings"/>
    </h1>
    <f:flashMessages/>
    <div class="accordion" id="accordionPanelsStayOpen">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Choose image generation API
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                 aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <div class="form-check">
                            <f:form.radio property="imageAiEngine" checked="{settingsRequestDTO.imageAiEngine} == 1" value="1"
                                          class="form-check-input"/>
                            <label class="form-check-label">OpenAI (https://openai.com/)</label>
                        </div>
                        <div class="form-check">
                            <f:form.radio property="imageAiEngine" checked="{settingsRequestDTO.imageAiEngine} == 2" value="2"
                                          class="form-check-input"/>
                            <label class="form-check-label">Stable Diffusion (https://stablediffusionapi.com/)</label>
                        </div>
                        <div class="form-check">
                            <f:form.radio property="imageAiEngine" checked="{settingsRequestDTO.imageAiEngine} == 3" value="3"
                                          class="form-check-input"/>
                            <label class="form-check-label">StabilityAI (https://stability.ai/)</label>
                        </div>
                        <br/>
                        <f:form.submit class="btn btn-primary"
                                       value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                    </f:form>
                    <br/>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: openAi.validatedApiKey}"/>
                    OpenAI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        OpenAI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {openAi.maskedApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                OpenAI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" property="openAiApiKeyValue" value=""/>
                            <br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: stableDiffusion.validatedApiKey}"/>
                    Stable Diffusion settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        Stable Diffusion API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {stableDiffusion.maskedApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                Stable Diffusion API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" property="stableDiffusionAiApiValue" value=""/>
                            <br/>
                            <f:translate
                                key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyUsedModel"/>
                            (https://stablediffusionapi.com/models):
                            <f:if condition="{stableDiffusion.client.currentModel}">
                                <f:then>
                                    {stableDiffusion.client.currentModel} <i class="bi bi-trash"></i>
                                </f:then>
                                <f:else>
                                    <f:translate
                                        key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelNoneSelected"/>
                                </f:else>
                            </f:if>
                            <br/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSetCustomModelToUse"/>
                                :</label></br>
                            <f:form.select property="selectedSdModel" options="{settingsRequestDTO.stableDiffusionValues}"
                                           optionValueField="model_id"
                                           value="{stableDiffusion.client.currentModel}"
                                           optionLabelField="model_id" class="form-select"/>
                            <br/><br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: stabilityAi.validatedApiKey}"/>
                    StabilityAI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        StabilityAI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {stabilityAi.maskedApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                StabilityAI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" property="stabilityAiApiValue" value=""/>
                            <br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: altTextAi.validatedApiKey}"/>
                    AltText settings (alttext.ai)
                </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        AltText AI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        (alttext.ai): {altTextAi.maskedApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                AltText AI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" property="altTextAiApiValue" value=""/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                AltText AI
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelLanguageValue"/>
                                :</label>
                            <f:form.select property="selectedAltTextAiLanguage" options="{settingsRequestDTO.altTextAiLanguage}"
                                           value="{settingsRequestDTO.selectedAltTextAiLanguage}" class="form-select"/>
                            <br/><br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOpenAiAltText">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOpenAiAltText" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOpenAiAltText">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: openAiAltText.validatedApiKey}"/>
                    AltText settings (OpenAI Vision)
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOpenAiAltText" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingOpenAiAltText">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <p>
                            Currently stored OpenAI Alt Text API key: {openAiAltText.maskedApiKey}<br/>
                            Currently active alt text provider: <strong>{settingsRequestDTO.altTextProvider}</strong>
                        </p>
                        <div class="form-group">
                            <label>Set OpenAI API key for alt text generation:</label>
                            <f:form.textfield class="form-control" property="openAiAltTextApiKeyValue" value=""/>
                            <br/>
                            <label>Model (e.g. gpt-4o-mini, gpt-4o):</label>
                            <f:form.textfield class="form-control" property="openAiAltTextModel"
                                              value="{settingsRequestDTO.openAiAltTextModel}"/>
                            <br/>
                            <label>Active alt text provider:</label>
                            <div class="form-check">
                                <f:form.radio property="altTextProvider"
                                              value="alttext.ai"
                                              checked="{settingsRequestDTO.altTextProvider} == 'alttext.ai'"
                                              class="form-check-input"/>
                                <label class="form-check-label">alttext.ai</label>
                            </div>
                            <div class="form-check">
                                <f:form.radio property="altTextProvider"
                                              value="openai"
                                              checked="{settingsRequestDTO.altTextProvider} == 'openai'"
                                              class="form-check-input"/>
                                <label class="form-check-label">OpenAI Vision (gpt-4o-mini / gpt-4o)</label>
                            </div>
                            <br/>
                            <f:form.submit class="btn btn-primary"
                                           value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                <button class="btn btn-primary btn-lg btn-block" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix">
                    <f:render partial="ApiStatus" arguments="{validatedApiResponse: summAi.validatedApiKey}"/>
                    SUMM AI settings
                </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                 aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body">
                    <f:form action="settings" name="settingsRequestDTO" object="{settingsRequestDTO}">
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                        SUMM AI API
                        <f:translate
                            key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKey"/>
                        : {summAi.maskedApiKey}<br/>
                        <div class="form-group">
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSet"/>
                                SUMM AI API
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelKeyValue"/>
                                :</label>
                            <f:form.textfield class="form-control" property="summAiApiValue" value=""/>
                            <f:translate
                                key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelCurrentlyStored"/>
                            SUMM AI API email: {settingsRequestDTO.summAiUserEmail}<br/>
                            <label>
                                <f:translate
                                    key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSetEmail"/>
                            </label>
                            <f:form.textfield class="form-control" property="summAiUserEmail" value=""/>
                            <br/>
                            <f:form.submit class="btn btn-primary" value='<f:translate key="LLL:EXT:mkcontentai/Resources/Private/Language/locallang_contentai.xlf:labelSubmit"/>'/>
                        </div>
                    </f:form>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>

